﻿@charset"utf-8";


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height:728px;
}
* {
    font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
.center {
    background: #1aa7e8 url(index.jpg) no-repeat;
    padding: 20px 0;
    background-position: top right;
    height: 728px;
}
.slice text {
    font-size: 30px;
}
#top-Menu {
    width: 960px;
}
#left-Col {

    float: left;
    background: url(circle-back.jpg);
    padding: 10px;
    margin-left: 250px;
}
.rdmNumber {
    float: left;
    margin:0 0 5px 17px;
    border: 1px solid #ffe115;
    padding: 10px;
}
.rdmNumber p {
    font-size: 30px;
    /*margin-left: 10px;*/
    color: #fff;
    /*margin-bottom: -10px;*/
    /*margin-top: 0;*/
    margin:0 10px -10px 10px;
}
#right-Col {
    float: left;
    margin-left: 30px;
    border: 1px solid #ffe115;
    padding: 10px;
}
.randomNumber {
    width: 170px;
    height: 70px;
    background: #fff;
    text-align: center;
    float: left;
    margin-right: 45px;
}
.randomNumber p {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}
.randomColor {
    margin: 10px 10px 0 10px;
    padding: 5px;
    background: #fff494;
    border-radius: 10px;
    font-size: 80px;
    width: 100px;
    height: 50px;
    color: white;
}
.randomFinal {
    margin: 10px 10px 0 10px;
    padding: 5px;
    background: #fff494;
    border-radius: 10px;
    font-size: 80px;
    width: 100px;
    height: 80px;
    color: #555;
    text-align: center;
}
.center:after {
    content: '';
    display: block;
    clear: both;
}
.winnerFinal {
    margin: 30px auto;
    text-shadow: 2px 2px #1e1e1e;
    text-align: center;
    border-radius: 10px;
    font-size: 80px;
    color: white;
}
#finalWinner p {
    font-size: 30px;
    margin-left: 20px;
    color: #fff;
    margin-bottom: -10px;
    margin-top: 10px;
}
/*.cssTest {
    width: auto;
    height: auto;
}*/
#turntableDiv > svg {
    margin: 13px 30px;
}
.stopBtn {
    margin-left: 200px;
    width: 70px;
    height: 40px;
    font-size: 20px;
    background: #ff0e3b;
    border: 1px solid #a50120;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.playBtn {
    margin-left: 20px;
    width: 70px;
    height: 40px;
    font-size: 20px;
    background: #1688CE;
    border: 1px solid #c8d90d;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.make-center {
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
}
#rdnDemo {
    margin: 10px;
    padding: 20px;
    background: gray;
    border-radius: 10px;
    font-size: 80px;
    width: 80px;
    color: white;
}
.circle {
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 3px;
    top: 373px;
    left: 425px;
}
.inner {
    background-image: url('ppon-M2_LOGO.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    border-radius: 50%;
}
.notShow {
    display: none;
}
#rdmSection {
    float: left;
    margin-left: 190px;
}
.select-block {
    margin-bottom: 10px;
    margin-left: 15%;
}
.tickercontainer {
    /* the outer div with the black border */
    
    border: 1px solid #000;
    background: #fff;
    width: 619px;
    height: 55px;
    margin: 0;
    padding: 0;
    margin-left: 91px;
    margin-bottom: 10px;
    overflow: hidden;
}
.tickercontainer .mask {
    /* that serves as a mask. so you get a sort of padding both left and right */
    
    position: relative;
    width: 619px;
    overflow: hidden;
}
ul.newsticker {
    /* that's your list */
    
    position: relative;
    font: bold 10px Verdana;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.newsticker li {
    float: left;
    /* important: display inline gives incorrect results when you check for elem's width */
    
    margin: 0;
    padding: 0;
    background: #fff;
}
ul.newsticker a {
    white-space: nowrap;
    padding: 0;
    color: #ff0000;
    font: bold 10px Verdana;
    margin: 0 50px 0 0;
}
ul.newsticker span {
    margin: 0 10px 0 0;
}
ul#ticker01 h1 {
    float: left;
    font-size: 40px;
    margin: 0;
    margin-right: 5px;
    color: #555;
}
ul#ticker01 h1.red-font {
    color: #fff;
    margin-left: 15px;
    font-size: 30px;
    background-color: #ed1c3a;
    border-radius: 3px;
    padding: 0 4px;
    margin-top: 7px;
}

.winner-scroll {
    position: absolute;
    left: 45px;
    top:204px;
    height: 100%;
    text-align: center;
}
.winner-scroll-text { 
    width: 120px;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    padding-top: 8px;
    background: #000;
    border-radius: 5px; 
}
.winner-scroll-text h1 {
    color: #fff;
    font-size: 36px;
    margin: 0;
    line-height: 38px;
    
}

#alertMsg {
    width: 600px;
}

#dialogoverlay {
            display: none;
            opacity: .8;
            position: fixed;
            top: 0px;
            left: 0px;
            background: #FFF;
            width: 100%;
            z-index: 10;
        }

        #dialogbox {
            display: none;
            position: fixed;
            z-index: 10;
        }
        #dialogboxbody > .winnerHead {
            font-size: 60px;
            padding: 5px;
            background: #000;
            color: #fff;
            margin-bottom: 10px;
            text-align: center;
        }
        #dialogboxbody > .winnerBody {
            font-size: 268px;
            text-shadow: 2px 2px #1e1e1e;
            text-align: center;
            color: #fff;
            margin-top: 100px;
        }
